<div class="container">
<p><h4><b>Details Of Users:</b></h4></p>
<table class="table">
   <thead><th><p>Name of User: <%= @user.name %><br/></p></th></thead>
   <thead><th><p>Contact Number: <%= @user.contact_no %><br/></p></th></thead>
   <thead><th><p> Email: <%= @user.email%><br/></p></th></thead>
   <thead><th><p>Address: <%= @user.address%><br/></p></th></thead>
    
</table>
</div>