	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Tuxedos</h2>
						<% @products.each do |p| %>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
												<%= link_to products_show_path(p) do %>
    											<%= image_tag p.avatar.url(:medium) %>
												<% end %>
											<!-- <h2>$56</h2> -->
											<h2><%= p.name.capitalize %></h2>
											<%= link_to 'Customize', { :controller => "looks", 
                                       :action => "new", 
                                       :product_id => p.id, 
                                        } ,  :class => "btn btn-default add-to-cart" %>
										</div>
								</div>
							</div>
						</div>
						<%end%>						
					</div><!--features_items-->			
				</div>
			</div>
		</div>
	</section>


