<table>
<tr>
	<th>Name</th>
	<th>Description</th>
	<th>Image</th>
	<!-- <th>Image</th> -->
</tr>

<tr>
<% @products.each do |p| %>
<td><%= p.name %></td>
<td><%= p.description%></td>
<td><%= image_tag p.avatar.url(:thumb) %></td>	
</tr>
</table>
<% end %>

