<table>
<tr>
	<th>Name</th>
	<th>Description</th>
	<!-- <th>Image</th> -->
</tr>


<tr>
<% @products.each_with_index do |p,index| %>
	
<td><%= p.name %></td>
<td><%= p.description%></td>

</tr>
</table>
<% end %>

